ODRA_CASPER_LIVENET_RPC_ADDRESS=https://node.testnet.casper.network/rpc
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=/absolute/path/to/secret_key.pem
UNDERWRITE_TOKEN_ADDRESS=
UNDERWRITE_CONTRACT_ADDRESS=
